body{
    background-color: rgb(218, 80, 0);
    margin: 0;
    padding: 0;
}

.d-flex button{
    background-color: rgba(40,40,40);
    border-color: rgb(255, 112, 30);
    color: rgb(255, 112, 30);
}

.d-flex button:hover{
    background-color: rgb(255, 112, 30);
    border-color: rgb(40,40,40);
    color: rgb(40,40,40);
}

.btn-primary{
    background-color: rgba(255,112,30);
    border-color: rgb(30, 30, 30);
    color: rgb(30, 30, 30);
}

.btn-secondary{
    background-color: rgba(255,112,30);
    border-color: rgba(30,30,30);
    color: rgba(30,30,30);
}

.b5-pagination-default a:hover{
    background-color: rgba(230,230,230);
    border-color: rgb(30, 30, 30);
    color: rgb(30,30,30);
}

hr{
    border: 2px solid rgb(10,10,10);
}

#carouselExampleIndicators{
    width: 100%;
    max-height: 400px;
}

.carousel-slide-container {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: gray;
}

.carousel-slide-container img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.products-section{
    background-color: rgb(230,230,230);
    padding: 10px;
}

.products-section-title{
    padding: 10px;
}

.row h2{
    background-color: rgb(230,230,230);
}

.card-img-top{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.b5-pagination-default{
    padding: 20px;
}

.footer{
    background-color: rgb(30,30,30);
    color: rgb(225, 225, 225);
    padding: 10px;
}

.footer p{
    font-size: 10pt;
}

.checkbox{
    padding: 10px;
}

.form-group h6{
    padding: 5px;
}

.form-group hr{
    border: 1px solid rgb(255,112,30);
}

.loginForm button{
    width: 100%;
    background-color: rgba(255,112,30);
    border-color: rgba(30,30,30);
    color: rgba(30,30,30);
}

.loginForm button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 112, 30);
    color: rgb(255, 112, 30);
}